img, embed, object, video {
  max-width: 100%;
}

html, body, main, header, footer {
  width: 100%;
  margin: 0px;
  font-family: 'Quicksand', sans-serif;
}

a {
  text-decoration: none;
  color: rgb(65, 137, 196);
}

/*
* HEADER
*/

.header {
  background: #eeeeed;
}

.header__wrap {
  width: 100%;
  height: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__logo {
  height: 80%;
  max-height: 80px;
  margin-left: 10px;
  align-self: flex-end;
}

.header__textbox {
  width: 250px;
  max-height: 100px;
  margin-right: 10px;
  text-transform: uppercase;
  text-align: right;
  align-self: center;
}

.header__title {
  font-size: 1.8em;
  font-weight: normal;
  margin: 0px;
}

.header__subtitle {
  font-size: 0.8em;
  font-weight: 600;
}

.header__bar {
  height: 2px;
  background: #262c30;
  border-bottom: #185163 1px double;
}

/*
* MAIN 
*/

.main__wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Quicksand', sans-serif;
}

.cover {
  width: 100%;
}

.cover__pic {
  align-self: center;
}

.section__title {
  width: 100%;
  font-weight: 600;
  color: #185163;
  text-transform: uppercase;
}

/*
* PROJECTS
*/

.projects {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
}

.proj__box {
  margin-right: 10px;
  width: calc(33.333% - 10px);
  text-align: center;
  background: #c5c6ce;
  margin-bottom: 10px;
}

.proj__pic {
  padding-top: 10px;
  width: calc(100% - 20px);
 }

.proj__title {
  font-size: 16px;
}

.proj__info {
  color: rgb(16, 3, 24);
}

/*
* ABOUT
*/

.about {
  width: 100%;;
  padding: 10px;
}

.about__textbox {
  margin-left: 10px;
  margin-right: 10px;
}

.about__info {
  text-align: justify;
  text-align-last: left;
}

/*
* SOCIAL
*/

.social {
  width: 100%;
  height: 120px;
  text-align: center;
  margin: 100px 10px 10px 10px;
  background: #c8cfd6;
}

.social__title { 
  padding-top: 20px;
  text-transform: uppercase;
  color: #185163;
}

.social__text {
  font-weight: 300;
}

/*
* FOOTER
*/

.footer__box {
  width: 100%;
  background: #3f3f3f;
  display: inline-block;
  vertical-align: middle;
}

.footer__text {
  padding: 20px 10px 20px 10px;
  font-size: 12px;
  color: white;
}
