/*
* TINY (210px-320px)
*/

@media screen and (max-width: 320px) {
    body {
        font-size: 12px;
    }
    .header__textbox {
        width: 60%;
    }
}

/*
* MOBILE SIZE
*/

@media screen and (max-width: 450px){
    .proj__title, .proj__info {
        margin: 10px;
    }
    .social__text {
        word-spacing: 5px;
        padding-top: 26px;
        padding-bottom: 26px;
    }
}

@media screen and (min-width: 461px) and (max-width: 1023px) {
    .social__text {
        word-spacing: 30px;
        padding-top: 26px;
        padding-bottom: 26px;
    }
}

@media screen and (max-width: 620px) {
    .header__wrap {
        height: 60px;
    }
    .header__textbox { /*FOR ADDING MENU*/
        text-align: right;
    }
    .header__title {
        font-size: 1.3em;
        font-weight: 900;
    }
    .header__subtitle {
        font-size: 0.7em;
    }
    .section__title {
        font-size: 1.2em;
        font-weight: 600;
    }
    .proj__box {
        width: 100%;
    }
    .social {
        height: 150px;
    }
    .social__title {
        padding-top: 5px;
    }
    .footer__text {
        text-align: center;
    }
}

/*
* IPAD SIZE
*/

@media screen and (min-width: 621px) and (max-width: 1023px) {
    .header__wrap {
        height: 70px;
    }
    .header__title {
        font-size: 1.5em;
        font-weight: 900;
    }
    .header__subtitle {
        font-size: 0.8em;
    }
    .cover {
        align-items: center;
    }
    .cover__pic {
        width: 100%;
    }
    .section__title {
        margin-top: 30px;
    }
    .proj__box {
        width: calc(50% - 10px);
    }
    .about__textbox {
        width: 66.66%;
    }
    .social__title {
        margin: 5px;;
    }
    .social__text {
        margin: 0;
        word-spacing: 70px;
        padding-top: 26px;
        padding-bottom: 26px;
    }
    .footer__text {
        text-align: center;
    }
}

/*
* DESKTOP
*/

@media screen and (min-width: 1024px) {
    .header__title {
        font-weight: 600;
    }
    .section__title {
        margin-top: 60px;
    }
    .projects, .about, .social {
        width: 1024px;
        padding-left: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    .about__textbox {
        width: 62%;
        margin-left: auto;
        margin-right: auto;
    }
    .social__title { 
        padding-top: 10px;
      }
    .social__text {
        word-spacing: 50px;
    }
    .footer__text {
        padding-left: 20px;
    }
}